experimental/StopPlace.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="https://opentransportdata.swiss/test" xmlns:test="https://opentransportdata.swiss/test" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://opentransportdata.swiss/test"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

  <!-- Reusable localized string with optional 'lang' attribute -->
  <xsd:complexType name="LocalisedStringType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="lang" type="xsd:language" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <!-- Validity period -->
  <xsd:complexType name="ValidBetweenType">
    <xsd:sequence>
      <xsd:element name="FromDate" type="xsd:dateTime"/>
      <xsd:element name="ToDate" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Alternative text entry -->
  <xsd:complexType name="AlternativeTextType">
    <xsd:sequence>
      <xsd:element name="Text" type="LocalisedStringType"/>
    </xsd:sequence>
    <xsd:attribute name="attributeName" type="xsd:string" use="required"/>
  </xsd:complexType>

  <!-- Key/value list -->
  <xsd:complexType name="KeyValueType">
    <xsd:sequence>
      <xsd:element name="Key" type="xsd:string"/>
      <xsd:element name="Value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="KeyListType">
    <xsd:sequence>
      <xsd:element name="KeyValue" type="KeyValueType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Extensions -->
  <xsd:complexType name="ExtensionsType">
    <xsd:sequence>
      <xsd:element name="HafasPriority" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Value" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HafasKMInfo" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Value" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Centroid/location -->
  <xsd:complexType name="CentroidType">
    <xsd:sequence>
      <xsd:element name="Location">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Longitude" type="xsd:decimal"/>
            <xsd:element name="Latitude" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Alternative names -->
  <xsd:complexType name="AlternativeNameType">
    <xsd:sequence>
      <xsd:element name="NameType" type="xsd:string"/>
      <xsd:element name="TypeOfName" type="xsd:string"/>
      <xsd:element name="Name" type="LocalisedStringType"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required"/>
    <xsd:attribute name="version" type="xsd:string" use="required"/>
  </xsd:complexType>

  <!-- Reference to topographic place -->
  <xsd:complexType name="TopographicPlaceRefType">
    <xsd:attribute name="ref" type="xsd:string" use="required"/>
    <xsd:attribute name="version" type="xsd:string" use="optional"/>
  </xsd:complexType>

  <!-- Quay -->
  <xsd:complexType name="QuayType">
    <xsd:annotation>
      <xsd:appinfo>Element description</xsd:appinfo>
      <xsd:documentation xml:lang="en">The QUAYs contained in the STOP PLACE, that is platforms, jetties, bays, taxi ranks, and other points of physical access to VEHICLEs.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PublicCode" type="xsd:string"/>
      <xsd:element name="keyList" type="KeyListType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required"/>
    <xsd:attribute name="version" type="xsd:string" use="required"/>
  </xsd:complexType>

  <!-- StopPlace -->
  <xsd:complexType name="StopPlaceType">
    <xsd:sequence>
      <xsd:element name="ValidBetween" type="ValidBetweenType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Validity of the StopPlace</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="alternativeTexts" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Alternative texts for the StopPlace</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="AlternativeText" type="AlternativeTextType" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="keyList" type="KeyListType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">KEY LIST with the KEY VALUEs related to the STOP PLACE. SKI use KeyValues: one for the Didok number one for the SLOID For delivery to SKI only one Value is necessary.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Extensions" type="ExtensionsType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">See description of extensions</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The name of the StopPlace</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShortName" type="LocalisedStringType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Description of TYPE OF VALUE. Is used to transmit the abbreviation of the StopPlace. There is not one abbreviation for all StopPlaces</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PrivateCode" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Private Code of STOP PLACE. Field must be filled. In Switzerland it is the DiDok number.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Centroid" type="CentroidType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Global or national location of STOP PLACE.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="alternativeNames" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Alternative names for SITE ELEMENT. We will also use these for synonyms. From INFO+ the synonyms are used on the StopPlace.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="AlternativeName" type="AlternativeNameType" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TopographicPlaceRef" type="TopographicPlaceRefType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Reference to TopographicPlace. Link to TopographicPlace of type county or country</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Weighting" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Default relative weighting to be used for stop place. The STOP PLACE element WEIGHTING basically accomplishes this feature but only allows the following values: noInterchange interchangeAllowed recommendedInterchange preferredInterchange. To incorporate the desired value range, we will add an EXTENSION element “HafasPriority” that contains the full information.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="quays" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The QUAYs contained in the STOP PLACE, that is platforms, jetties, bays, taxi ranks, and other points of physical access to VEHICLEs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Quay" type="QuayType" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required"/>
    <xsd:attribute name="version" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:element name="StopPlace" type="StopPlaceType"/>

</xsd:schema>